.forgot-password-container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.forgot-password-container img.support-image {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.forgot-password-container form {
    margin-top: 20px;
}

.forgot-password-container input,
.forgot-password-container button {
    padding: 10px;
    margin-top: 10px;
    width: calc(100% - 22px);
    font-size: 16px;
}

.forgot-password-container button {
    background-color: #800080;
    color: white;
    border: none;
    cursor: pointer;
}

.forgot-password-container button:hover {
    background-color: #590059;
}
