/* HeroSection.css */
.hero-container {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.1)
      ),
      url('path/to/your/image.jpg') center center / cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .btn {
    border-radius: 4px;
    border: none;
    background: #e31837;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .btn:hover {
    background: #ffc500;
    transition: all 0.3s ease-out;
  }
  