.signup-container {
    background-color: #F0F0F7;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-form input {
    padding: 10px;
    font-size: 16px;
}

.signup-form button {
    background-color: #800080;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #590059;
}

.signup-form p {
    text-align: center;
}

a {
    color: #800080;
}
